[Unit]
Description=Python Config for Groundstation
After=network.target

[Service]
ExecStart=py_config_gs
WorkingDirectory=/usr/local/lib/python3.9/dist-packages/py_config_gs
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
