<!-- templates/play.html -->
{% extends "base.html" %}

{% block content %}
    <div class="styled-box">
        <h2>Upload gs.key</h2>
        <form action="{{ url_for('main.upload_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".key" required>
            <button type="submit">Upload</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
{% endblock %}